* {
    padding: 0;
    margin: 0;
}

.wrapper {
    background: url(http://storage4.static.itmages.ru/i/17/0518/h_1495120610_3058981_ab8130d304.jpg);
}
    
header {
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background: lightblue;
    text-align: center;
}

.header--logo, 
.header--menu,
.header--login {
    display: inline-block;
}

.header--logo {
    color: blue;
    font-family: Arial;
    width: 120px;
}

.header--menu-main--menu {
    list-style: none;
}

.main--menu-list--item {
    display: inline-block;
    position: relative;
}

.main--menu-list--item-link,
.main--menu-list--item-link--store,
.sub--menu-list--item-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
}

.main--menu-list--item-link--store {
    background-color: lightgreen;
}

.main--menu-list--item-link:hover,
.sub--menu-list--item-link:hover {
    background-color: lightgreen;
}


.main--menu-list--item:hover 
.main--menu-sub--menu {
    display: block;
} 

.main--menu-sub--menu {
    list-style: none;
    position: absolute;
    border: 1px solid grey;
    left: 5px;
    display: none;
    background: lightyellow;
}

.login-form {
    width: 360px;
    list-style-type: none;
    list-style-position: outside;
    text-align: left;
}

.login-form-list--item {
    margin-bottom: 2px;
    position: relative;
}

.login-form-label {
    width: 150px;
    float: left;
}

.login-form-input {
    width: 200px;
    height: 20px;
}

.login-form-button {
    margin-left: 150px;
}

.button--registration-link {
    text-decoration: none;
    color: black;
}

.login-form-button--registration,
.login-form-button {
    width: 100px;
}

.photo {
   float: left; 
}
    
.table, 
.buy {
    float: right;
}

.item-photo,
.buy,
.description {
    border: 4px solid darkgray;
}

.item-photo {
    margin-right: 20px;
}

.item-wrapper {
    margin: 0 auto;
}

.item-wrapper,
.description {
    width: 80%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.item-photo {
    width: 450px;
}

.item-table {
    width: 500px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.item-table--row {
    border-bottom: 2px solid black;
    background: lightgray;
}

.item-table--row:nth-child(2n) {
    background: lightblue;
}

.item-table--data,
.item-table--data-name {
    padding: 10px;
}

.item-table--data-name {
    font-weight: bold;
}

.buy {
    width: 500px;
    box-sizing: border-box;
    background: lightblue;
    text-align: center;
}

.item-name {
    padding: 10px;
    color: red;
}

.item-price {
    font-size: 25px;
    margin-bottom: 10px;
}

.item-button--trash,
.item-button--buy {
    padding: 7px;
    width: 150px;
    margin-bottom: 10px;
}

.item-button--trash:hover,
.item-button--buy:hover {
    background-color: white;
}

.item-button--trash,
.item-button--buy,
.item-price {
    font-weight: bold;
}

.description {
    margin: 20px auto;
    background: lightgrey;
}

.item-description {
    padding: 20px;
}

.video {
    width: 640px;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer {
    background: lightblue;
    padding: 30px;
    text-align: center;
}