* {
    padding: 0;
    margin: 0;
}

.wrapper {
    background: url(http://storage4.static.itmages.ru/i/17/0518/h_1495120610_3058981_ab8130d304.jpg);
}
    
header {
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background: lightblue;
    text-align: center;
}

.header--logo, 
.header--menu,
.header--login {
    display: inline-block;
}

.header--logo {
    color: blue;
    font-family: Arial;
    width: 120px;
}

.header--menu-main--menu {
    list-style: none;
}

.main--menu-list--item {
    display: inline-block;
    position: relative;
}

.main--menu-list--item-link,
.sub--menu-list--item-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
}

.main--menu-list--item-link:hover,
.sub--menu-list--item-link:hover {
    background-color: lightgreen;
}


.main--menu-list--item:hover 
.main--menu-sub--menu {
    display: block;
} 

.main--menu-sub--menu {
    list-style: none;
    position: absolute;
    border: 1px solid grey;
    left: 5px;
    display: none;
    background: lightyellow;
}

.login-form {
    width: 360px;
    list-style-type: none;
    list-style-position: outside;
    text-align: left;
}

.login-form-list--item {
    margin-bottom: 2px;
    position: relative;
}

.login-form-label {
    width: 150px;
    float: left;
}

.login-form-input {
    width: 200px;
    height: 20px;
}

.login-form-button {
    margin-left: 150px;
}

.button--registration-link {
    text-decoration: none;
    color: black;
}

.login-form-button--registration,
.login-form-button {
    width: 100px;
}

.content {
    text-align: center;
    vertical-align: bottom;
}

.item-picture {
    width: 300px;
    height: 400px;
    margin-bottom: 10px;
    border: 2px solid gray;
}

.item {
    display: inline-block;
    border: 2px solid grey;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 500px;
    text-align: center;
    background: #7d9ccc;
}

.item:nth-child(2n) {
    margin-right: 0;
}

.item-name-link, 
.item-button--buy-link {
    display: block;
    text-decoration: none;
    color: lightblue;
    margin: 10px 0;  
}

.item-name-link:hover {
    color: #e40e0e;
}

.item-button--buy-link {
    color: #e40e0e;
    font-size: 25px;
    font-weight: bold;
    width: 150px;
}

.item-button--buy-link:hover {
    color: lightgreen;
}

.item-description {
    margin-bottom: 10px;
    height: 150px;
}

.item-price {
    font-weight: bold;
    color: lightgreen;
    margin-bottom: 10px;
    font-size: 20px;
}

.info-address,
.info-contacts {
    display: inline-block;
    
}

.info {
    margin-bottom: 20px;
    background: lightblue;
    padding: 5px 0;
}

.info-address {
    margin-left: 150px;
    margin-right: 400px;
}


.info-address-list,
.info-contacts-list {
    list-style: none;
}

.info-contacts-list-link {
    text-decoration: none;
    color: black;
}

.info-contacts-list-link:hover {
    color: blue;
}

footer {
    background: lightblue;
    padding: 30px;
    text-align: center;
}